In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("src/data/iranAdministrativeDivision.csv")
df.head()

       id           title   type  parent
0  100001  آذربایجان شرقی  ostan     NaN
1  100002  آذربایجان غربی  ostan     NaN
2  100003          اردبیل  ostan     NaN
3  100004          اصفهان  ostan     NaN
4  100005           البرز  ostan     NaN

In [7]:
records = []
for i in range(0 , len(df)):
    record = {
        "name" : df["title"][i],
        "type" : df["type"][i]
    }
    records.append(record)

In [13]:
# write {"records" : records} into iranAdministrativeDivision.json
import json
with open("iranAdministrativeDivision.json" , "w") as f:
    f.write(json.dumps({"records" : records} , ensure_ascii= False , indent= 4))